* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.menu {
	width: 20%;
	height: 500px;
	transform: translateX(-80%);
	transition: 0.4s ease-in-out;
}
.menu-here {
	position: relative;
	width: 100%;
	background-color: #bdbdbd;
}
.menu-title {
	font-family: sans-serif;
	font-weight: 700;
	color: white;
	position: absolute;
	right: -20px;
	bottom: 60%;
	transform: rotate(90deg);
	transition: opacity 0.4s ease-in-out;
}
.container-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 100px 0 150px;
}
.list-menu {
	text-align: left;
	width: 200px;
}
.item-menu {
	display: flex;
	align-items: center;
	font-size: 18px;
	margin-bottom: 20px;
}
.menu-point {
	margin-right: 10px;
}
.link-menu {
	color: white;
	transition-duration: 0.8s;
}
.link-menu:hover {
	color: orange;
	transition-duration: 0.8s;
}
.menu-title {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.menu:hover .menu-here {
	transform: translateX(80%);
	transition: 0.4s ease-in-out;
}
.menu:hover .menu-title {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
